# macOS
.DS_Store
.localized

# Node / Quartz
node_modules
public
tsconfig.tsbuildinfo
.quartz-cache

# Obsidian (basic ignore)
.obsidian/

# Optional: if vault is inside Main
Main/.obsidian/workspace.json
Main/.obsidian/workspace-mobile.json
Main/.obsidian/cache/

# Python
.venv/
__pycache__/
*.pyc

# temp editor files
*.swp
*.tmp

# other service files
private/
.replit
replit.nix
prof

# ignored content folders
content/08 Война/
content/01 Спринты/
content/01 Дельтабезопасность/
content/01 Дельта/