# macOS
.DS_Store

# Node / Quartz
node_modules
public
tsconfig.tsbuildinfo
.quartz-cache

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/*/data.json

# если не хочешь пушить настройки Obsidian
.obsidian/

# другие служебные
private/
.replit
replit.nix
prof

content/Labor movement/08 Война/
content/Labor movement/01 Спринты/
content/Labor movement/01 Дельтабезопасность/